html {
  background: #24292D url('/images/background.png') repeat;
}

body {
  color: #FFF;
  text-shadow: 0 2px rgba(0,0,0,0.65);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 75%;
  margin: 0;
}

.page-header {
  text-align: center;
  margin: 1em 0;
}

.page-content {
  box-shadow: 0 0 3px rgba(25, 25, 25, 0.25);
  border: 1px solid #1B1C1D;
  margin: 0 2em 2em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 7em;
  overflow: hidden;
}

#filters {
  box-shadow: inset 0 1px 1px rgba(96, 98, 102, 0.35), 0 3px 3px rgba(0,0,0,0.35);
  border: none;
  border-bottom: 1px solid #1B1C1D;
  background-color: #373B42;
  line-height: 2em;
  padding: 1.5em;
  margin: 0;
  position: relative;
  z-index: 1;
}

#filters legend {
  font-weight: bold;
  float: left;
  margin-right: 1em;
}

.crime-types {
  border-left: 1px solid rgba(83, 85, 88, 0.5);
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.crime-types::after {
  content: '';
  border-left: 1px solid #272727;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.crime-types li {
  margin-right: 1em;
  float: left;
}

.crime-types input {
  margin-right: 1ex;
}

#map-canvas {
  background-color: rgba(0,0,0,0.25);
  text-shadow: none;
  height: 100%;
}
