<!DOCTYPE html>
<html>
  <head>
    <title>Crime Heatmap</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>
  <body>
    <div class="content">
      <div id="filters">
        <fieldset>
          <legend>Crime Type</legend>
          <div class="crime-types">
            <input type="radio" name="crime-type" value="All" checked>All</input>
          </div>
        </fieldset>
      </div>
      <div id="map-canvas"></div>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/heatmap.js"></script>
    <script src="js/heatmap-gmaps.js"></script>

    <script>

var map, heatmap, crimeData;

function unique(array){
  return array.filter(function(el,index,arr){
    return index == arr.indexOf(el);
  });
}

function writeHeatMap () {
  // process results into array for heatmap
  var filter = $('input[name="crime-type"]:checked').val();
  if (filter == "All") filter = null;

  var crimes = $.map(crimeData.crimeList, function (crime) {
    if (!filter || filter == crime.cname) {
      return {
        lat: parseFloat(crime.clatitude),
        lng: parseFloat(crime.clongitude),
        count: 1
      };
    }
  });

  $("#spin_modal_overlay").remove();
  heatmap.setDataSet({ max: 5, data: crimes });
}

function initialize() {

  var mapOptions = {
    zoom: 12,
    center: new google.maps.LatLng(29.9728, -90.0590),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    disableDefaultUI: false,
    scrollwheel: true,
    draggable: true,
    navigationControl: true,
    mapTypeControl: false,
    scaleControl: true,
    disableDoubleClickZoom: false
  };

  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  heatmap = new HeatmapOverlay(map, { radius: 10, visible: true, opacity: 60 });

  $('#map-canvas').spin('modal');

  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/data/spot_crime.json",
    success: function(data) {
      var types = unique($.map(data.crimeList, function (crime) {
        return $.trim(crime.cname);
      }));

      var $types = $('.crime-types');
      types.forEach(function (type) {
        $types.append('<input type="radio" name="crime-type" value="'+type+'">'+type);
      });

      $('input[name="crime-type"]').click(function () {
        writeHeatMap();
      });

      crimeData = data;

      writeHeatMap();
    }
  });


}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </body>
</html>

