<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='initial-scale=1.0, user-scalable=no' />
    <meta name='description' content='An interactive heatmap for viewing New Orleans crime data' />
    <meta property='og:url' content='http://crime-heatmap.herokuapp.com' />
    <meta property='og:title' content='NOLA Crime Heatmap' />
    <meta property='og:image' content='<%= "#{request.base_url}/images/og_image.png" %>' />
    <title>NOLA Crime Heatmap</title>
    <link href='/images/favicon.png' rel='shortcut icon' type='image/png' />
    <%= css :app %>
    <script src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization'></script>
    <script src='//code.jquery.com/jquery-1.10.1.min.js'></script>
    <!-- TODO: load from cdn on production -->
    <script src='/bower_components/angular/angular.min.js'></script>
    <script src='/bower_components/lodash/dist/lodash.underscore.min.js'></script>
    <!-- END -->
    <script src='/bower_components/spin.js/spin.js'></script>
    <script src='/bower_components/angular-spinner/angular-spinner.min.js'></script>
  </head>
  <body>
    <h1 class='page-header'><img src='/images/logo.png' alt='NOLA Crime Heatmap' /></h1>

    <div ng-controller='CrimeViewerCtrl' ng-class='{loading: state.loading}' class='page-content'>
      <span ng-if='state.loading' us-spinner='{lines: 11, length: 23, width: 8, radius: 40, corners: 1, rotate: 9, speed: 1, trail: 50, shadow: true, hwaccel: false,
      className: "page-content-spinner", color: "#FFF", top: "50%", left: "50%"}'></span>

      <fieldset class='crime-filter'>
        <legend class='crime-filter-legend'>Crime Type</legend>

        <ul class='crime-filter-list'>
          <li class='crime-filter-list-item'>
            <label>
              <input ng-model='state.crimeType' class='crime-filter-list-radio' type='radio' name='crime-type' value='' />
              All
            </label>
          </li>

          <li ng-cloak ng-repeat='crimeType in crimeData.crimeTypes' class='crime-filter-list-item'>
            <label>
              <input ng-model='state.crimeType' class='crime-filter-list-radio' type='radio' name='crime-type' value='{{crimeType}}' />
              {{crimeType}}
            </label>
          </li>
        </ul>

        <select ng-model='state.crimeType' ng-options='crimeType for crimeType in crimeData.crimeTypes' class='crime-filter-dropdown'>
          <option value=''>All</option>
        </select>
      </fieldset>

      <div class='heatmap-canvas' heatmap map-points='crimeData.mapPoints'></div>
    </div>

    <%= js :app %>
  </body>
</html>
